**/Physics
**/img_save
**/.vscode
**.vs/
**build/
**trashcan/
**Methodics/
**Methodics_1/
**ConsoleApplication1/
tempCodeRunnerFile.c
CppProperties.json
*.mp4
History/~$исание и критерии оценивания контрольного мероприятия (рецензия на научную статью).doc
**/3rd Term/Basics of InfoSec/Laws
**/3rd Term/OOP (C++)/Examination
**/3rd Term/English/Article Translation/Book
**/3rd Term/English/Article Translation/Presentations
4th Term/Probability Theory and Math Statistics/Labor_praktikum.pdf
4th Term/Probability Theory and Math Statistics/Spravochny_material_Python_TViMS.docx