**/Physics
**/img_save
**/.vscode
**.vs/
**build/
**trashcan/
**Methodics/
**Methodics_1/
**ConsoleApplication1/
tempCodeRunnerFile.c
CppProperties.json
*.mp4
History/~$исание и критерии оценивания контрольного мероприятия (рецензия на научную статью).doc
**/3rd Term/Basics of InfoSec/Laws