**/Physics
**/img_save
**/.vscode
**.vs/
**build/
**trashcan/
**Methodics/
**Methodics_1/
**ConsoleApplication1/
tempCodeRunnerFile.c
CppProperties.json
*.mp4
*.env
*.exe
History/~$исание и критерии оценивания контрольного мероприятия (рецензия на научную статью).doc
**/3rd Term/Basics of InfoSec/Laws
**/3rd Term/OOP (C++)/Examination
**/3rd Term/English/Article Translation/Book
**/3rd Term/English/Article Translation/Presentations
4th Term/Probability Theory and Math Statistics/Labor_praktikum.pdf
4th Term/Probability Theory and Math Statistics/Spravochny_material_Python_TViMS.docx
4th Term/DataBases/Web_Project
**/4th Term/Basics of Law and Organisational in IB/GOST/
6th Term/СКЗИ/Lab3/winlibs-x86_64-posix-seh-gcc-15.2.0-mingw-w64ucrt-13.0.0-r6.zip
/5th Term/Project Management
6th Term/СКЗИ/Lab3/Gleb - 1 Share.shf
6th Term/СКЗИ/Lab3/Gleb.asc
6th Term/СКЗИ/Lab3/Mazurov - 1 Share.shf
6th Term/СКЗИ/Lab3/Mazurov.asc
6th Term/СКЗИ/Lab3/napodpis.txt.sig
6th Term/СКЗИ/Lab3/PGP.Desktop.for.Windows.v10.2/acme.nfo
6th Term/СКЗИ/Lab3/PGP.Desktop.for.Windows.v10.2/PGPDesktop10.2.0_Windows_Inner.zip.sig
6th Term/СКЗИ/Lab3/Thumbs.db
6th Term/СКЗИ/Lab3/Thumbs.db
6th Term/СКЗИ/Lab3/Thumbs.db
6th Term/СКЗИ/Lab3/Бройдо_Г_ИБ-31.txt
6th Term/СКЗИ/Lab3/Бройдо_Г_ИБ-31.txt.sig
6th Term/СКЗИ/Lab5/Gleb.asc
6th Term/СКЗИ/Lab5/Mazurov.asc
6th Term/СКЗИ/Lab5/Бройдо_Г_ИБ-31.txt
6th Term/СКЗИ/Lab5/Бройдо_Г_ИБ-31.txt.sig
*.ms14 (Security copy)
/6th Term/СКЗИ/Lab8/ПО
6th Term/СКЗИ/Lab7/readme.txt
