body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  /* padding: 40px; */
  text-align: center;
}

.app {
  background: white;
  width: 100%;
  padding: 20px;
  padding-left: 5px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.app-row_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  width: 450px;
  height: auto;
  margin-left: 20px;
  text-align: left;
}

.logo-img {
  width: 70%;
  height: auto;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal centering */
  justify-content: center;  /* vertical centering */
  gap: 10px;
  height: 100%;
  margin-right: 20px;
}

.app-content h1 {
  margin: 0;
  font-size: 2em;
}

.app-row_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.db-status {
  font-size: 16px;
  color: #444;
}

.sql-error {
  color: #d93025;
  font-weight: 600;
  min-width: 200px;
  padding: 5px 10px;
  border: 1px solid #d93025;
  border-radius: 6px;
  background-color: #fce8e6;
  display: inline-block;
  white-space: nowrap;

  opacity: 1;                /* default visible */
  transition: opacity 1s ease; /* fade transition */
}

.db-controls {
  display: flex;
  gap: 10px;
}

#dbSelector {
  padding: 6px 10px;
  font-size: 16px;
}

#connectBtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#connectBtn:hover {
  background-color: #218838;
}

/* ✅ SQL input */
.sql-input-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#sqlInput {
  width: 100%;
  min-height: 80px;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical; /* allow resizing */
  max-height: 300px;
}

/* ✅ Query Output */
.output-row {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

#queryOutput {
  white-space: pre-wrap;
  font-family: monospace;
  color: #333;
}


button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005fa3;
}
